<div class="form-group">
    <label for="authorName">Author's name</label>
    <input type="text" class="form-control" id="authorName" name="name" value="<%= author.name%>" placeholder="Type author's name">
    <!-- <small id="authorHelp" class="form-text text-muted">FIO</small> -->
</div>