<br>
<div class="container">
    <h1>Add New Author</h1>
    <form action="/authors" method="POST">
        <%- include('../partials/utils/_form_fields.ejs') %>
            <a href="/" class="btn btn-light">Cancel</a>
            <button type="submit" class="btn btn-primary">Add new</button>
    </form>
</div>